## #1 Figure out how to print the current date and time. 
The solution should be in this format:  2021-08-05 11:56:30 (YYYY-MM-DD HH:MM:SS)

Hint:  You're going to have to import a library

In [1]:
import datetime

print(datetime.datetime.now())

# maybe find a way to round to the nearest second

2022-08-10 17:17:44.822267

In [2]:
print(datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S"))

# this does without milliseconds

# formats the time

2022-08-10 17:17:44

## #2 Write a function that accepts the radius of a circle and returns the area of a circle.  
The function for the area of a circle is pi * radius squared.

In [3]:
import math

def area_circle(radius = 0):
    area = math.pi * (radius**2)
    return area


print(area_circle(15))

706.8583470577034

In [4]:
print(area_circle())

0.0

## #3 Write a function that takes a list of numbers and returns True if all number in the list are unique and returns False if the list contains duplicate numbers. 
* Hint, maybe think of using a set()

Input:  input_list = [2,4,5,5,7,9]

Expected Output:  False

In [5]:
input_list = [2,4,5,5,7,9]

def check_dupes(num_list):
    

    temp_set = set(num_list)

    no_dupe_list = list(temp_set)
    
    #return (len(num_list) == len(no_dupe_list))
    
    if (len(num_list) == len(no_dupe_list)):
        
        return True
    
    else:
        
        return False



print(check_dupes(input_list))

False

In [6]:
input_list=[1,2,3]
print(check_dupes(input_list))

True

In [7]:
input_list=[]
print(check_dupes(input_list))

True

## #4 Write a Python program to count the number of each character of a given text of a text file.
* Use the text file called 'lil-wayne.txt' in the data folder.  
* Convert all the characters to uppercase first, then count them.  
* Use a dictionary in which the keys of the dictionary are the characters, and the values are the counts of that character. 

Expected Result:  `{'D': 74, 'W': 63, 'A': 211, 'Y': 44, 'N': 165, 'E': 274, ' ': 522, 'M': 77, 'I': 185, 'C': 60, 'H': 122, 'L': 126, 'R': 152, 'T': 180, 'J': 8, '.': 26, '(': 12, 'B': 59, 'O': 145, 'S': 152, 'P': 39, '2': 24, '7': 7, ',': 37, '1': 28, '9': 16, '8': 6, ')': 12, '[': 14, ']': 14, 'K': 13, 'F': 44, 'G': 53, 'X': 5, 'U': 66, 'V': 20, '3': 2, '4': 4, '5': 5, '6': 3, '0': 36, '\n': 6, '-': 6, ';': 1, '!': 1, '"': 8, "'": 3, '—': 1}`

In [8]:
path_to_file = "data/lil-wayne.txt"

file_handle = open(path_to_file, "r")


data = file_handle.read()

data = data.upper()

In [9]:
print(data)

DWAYNE MICHAEL CARTER JR. (BORN SEPTEMBER 27, 1982),[2] KNOWN PROFESSIONALLY AS LIL WAYNE, IS AN AMERICAN RAPPER, SINGER, SONGWRITER AND RECORD EXECUTIVE.. HE IS COMMONLY REGARDED AS ONE OF THE MOST INFLUENTIAL HIP HOP ARTISTS OF HIS GENERATION,[3] AND OFTEN CITED AS ONE OF THE GREATEST RAPPERS OF ALL TIME.[4][5] HIS CAREER BEGAN IN 1995, AT THE AGE OF 12, WHEN HE WAS SIGNED BY RAPPER BIRDMAN, JOINING CASH MONEY RECORDS AS THE YOUNGEST MEMBER OF THE LABEL.[6] FROM THEN ON, WAYNE WAS THE FLAGSHIP ARTIST OF CASH MONEY RECORDS BEFORE ENDING HIS ASSOCIATION WITH THE COMPANY IN JUNE 2018.[7]

IN 1995, WAYNE WAS PUT IN A DUO WITH LABEL-MATE B.G. (AT THE TIME KNOWN AS LIL DOOGIE) AND THEY RECORDED AN ALBUM, TRUE STORY, RELEASED THAT YEAR, ALTHOUGH WAYNE (AT THE TIME KNOWN AS BABY D) ONLY APPEARED ON THREE TRACKS.[8] WAYNE AND B.G. SOON JOINED THE SOUTHERN HIP HOP GROUP HOT BOYS, WITH CASH MONEY LABEL-MATES JUVENILE AND TURK IN 1997; THEY RELEASED THEIR DEBUT ALBUM GET IT HOW U LIVE! IN OCTOBER THAT YEAR. THE HOT BOYS BECAME POPULAR FOLLOWING THE RELEASE OF THE ALBUM GUERRILLA WARFARE (1999) AND THE SONG BLING BLING.

LIL WAYNES SOLO DEBUT ALBUM THA BLOCK IS HOT (1999) WAS HIS SOLO BREAKTHROUGH, AND HE REACHED HIGHER POPULARITY WITH HIS FOURTH ALBUM THA CARTER (2004) AND FIFTH ALBUM THA CARTER II (2005), AS WELL AS SEVERAL MIXTAPES AND COLLABORATIONS THROUGHOUT 2006 AND 2007. HE GAINED MORE PROMINENCE WITHIN THE MUSIC INDUSTRY WITH HIS SIXTH ALBUM THA CARTER III (2008), WITH FIRST-WEEK SALES OF OVER ONE MILLION COPIES IN THE US. THE ALBUM WON THE GRAMMY AWARD FOR BEST RAP ALBUM AND INCLUDED SUCCESSFUL SINGLES A MILLI, GOT MONEY (FEATURING T-PAIN), AND LOLLIPOP (FEATURING STATIC MAJOR)Â€”THE LATTER BEING HIS FIRST SINGLE TO REACH NUMBER ONE ON THE BILLBOARD HOT 100. IN FEBRUARY 2010, WAYNE RELEASED HIS SEVENTH STUDIO ALBUM, REBIRTH, WHICH EXPERIMENTED WITH RAP ROCK AND WAS MET WITH GENERALLY NEGATIVE REVIEWS. A MONTH LATER IN MARCH 2010, LIL WAYNE BEGAN SERVING AN 8-MONTH JAIL SENTENCE IN NEW YORK AFTER BEING CONVICTED OF CRIMINAL POSSESSION OF A WEAPON STEMMING FROM AN INCIDENT IN JULY 2007. HIS EIGHTH STUDIO ALBUM I AM NOT A HUMAN BEING (2010) WAS RELEASED DURING HIS INCARCERATION, WHILE HIS 2011 ALBUM THA CARTER IV WAS RELEASED FOLLOWING HIS RELEASE. THA CARTER IV SOLD 964,000 COPIES IN ITS FIRST WEEK IN THE UNITED STATES.[9] HIS TWELFTH STUDIO ALBUM THA CARTER V WAS RELEASED IN 2018 AFTER MULTIPLE DELAYS. WAYNES THIRTEENTH ALBUM, FUNERAL, WAS RELEASED IN EARLY 2020.[10]

LIL WAYNE HAS SOLD OVER 120 MILLION RECORDS WORLDWIDE, INCLUDING MORE THAN 20 MILLION ALBUMS AND 70 MILLION DIGITAL TRACKS IN THE UNITED STATES, MAKING HIM ONE OF THE WORLDS BEST-SELLING MUSIC ARTISTS.[11][12][13] HE HAS WON FIVE GRAMMY AWARDS, 11 BET AWARDS, FOUR BILLBOARD MUSIC AWARDS, TWO MTV VIDEO MUSIC AWARDS AND EIGHT NAACP IMAGE AWARDS. ON SEPTEMBER 27, 2012, HE BECAME THE FIRST MALE ARTIST TO SURPASS ELVIS PRESLEY WITH THE MOST ENTRIES ON THE BILLBOARD HOT 100, WITH 109 SONGS.[14][15] LIL WAYNE ALSO CURRENTLY SERVES AS THE CHIEF EXECUTIVE OFFICER (CEO) OF HIS OWN LABEL, YOUNG MONEY ENTERTAINMENT.

In [10]:
word_dict = {}

for character in data:
    
    if character not in word_dict:
        word_dict[character] = 1
        
    else:
        #word_dict[character] = word_dict[character] + 1
        
        word_dict[character] += 1

In [11]:
print(word_dict)

{'D': 74, 'W': 63, 'A': 211, 'Y': 44, 'N': 165, 'E': 274, ' ': 522, 'M': 77, 'I': 185, 'C': 60, 'H': 122, 'L': 126, 'R': 152, 'T': 180, 'J': 8, '.': 26, '(': 12, 'B': 59, 'O': 145, 'S': 152, 'P': 39, '2': 24, '7': 7, ',': 37, '1': 28, '9': 16, '8': 6, ')': 12, '[': 14, ']': 14, 'K': 13, 'F': 44, 'G': 53, 'X': 5, 'U': 66, 'V': 20, '3': 2, '4': 4, '5': 5, '6': 3, '0': 36, '\n': 6, '-': 6, ';': 1, '!': 1, 'Â': 1, '€': 1, '”': 1}

# 4.5 Figure out how to sort the dictionary to find which character appears the most.

In [12]:
dict_list = []

for key in word_dict:
    
    dict_list.append([word_dict[key], key])

dict_list.sort(reverse=True)

print(dict_list)


# switched the order of key and value to make it easier to sort


# if I wanted to preserve the initial order of the dictionary with key first

# i could use


#def sortSecond(val):
#    return val[1]

#And pass sortSecond as the key for the sort function
# got this from GeeksForGeeks

[[522, ' '], [274, 'E'], [211, 'A'], [185, 'I'], [180, 'T'], [165, 'N'], [152, 'S'], [152, 'R'], [145, 'O'], [126, 'L'], [122, 'H'], [77, 'M'], [74, 'D'], [66, 'U'], [63, 'W'], [60, 'C'], [59, 'B'], [53, 'G'], [44, 'Y'], [44, 'F'], [39, 'P'], [37, ','], [36, '0'], [28, '1'], [26, '.'], [24, '2'], [20, 'V'], [16, '9'], [14, ']'], [14, '['], [13, 'K'], [12, ')'], [12, '('], [8, 'J'], [7, '7'], [6, '8'], [6, '-'], [6, '\n'], [5, 'X'], [5, '5'], [4, '4'], [3, '6'], [2, '3'], [1, '€'], [1, '”'], [1, 'Â'], [1, ';'], [1, '!']]

In [13]:
print(max(dict_list))

# dict_list[0]

# or could not reverse and use index -1

[522, ' ']

In [14]:
print(dict_list[0])

[522, ' ']

## #5 Using the list below...
* Remove the fourth number from the list.
* Take that number you just removed and multiply the last number of the list by that number. 
* Append that number to the end of the list.
* Print the list

INPUT: [1, 1, 2, 3, 5, 8, 13, 21]

EXPECTED OUTPUT:  [1, 1, 2, 5, 8, 13, 21, 63]

In [15]:
list1 = [1, 1, 2, 3, 5, 8, 13, 21]


removed_num = list1.pop(3)

print(removed_num)

print(list1)

3
[1, 1, 2, 5, 8, 13, 21]

In [16]:
new_num = removed_num * list1[-1]

print(new_num)

63

In [17]:
list1.append(new_num)

print(list1)

[1, 1, 2, 5, 8, 13, 21, 63]

## #6 Using the list below, make a new list that contains only the numbers from the original list that are divisible by three.

* Input:  original_list = [2, 3, 6, 8, 9, 15, 19, 21]
* Expected new list:  [3, 6, 9, 15, 21]

In [18]:
original_list = [2, 3, 6, 8, 9, 15, 19, 21]


new_list = []

for item in original_list:
    
    if ((item %3) == 0 ):
        new_list.append(item)
        

print(new_list)

[3, 6, 9, 15, 21]

## #7 Reverse the list below

In [19]:
original_list = [2, 3, 6, 8, 9, 15, 19, 21]

# there are a couple different ways to reverse the list

reversed_list = original_list[::-1]

print(reversed_list)

# this is probably the best way

[21, 19, 15, 9, 8, 6, 3, 2]

In [20]:
#original_list.reverse()

#print(original_list)

# this is in place though

In [21]:
reversed_list = list(reversed(original_list))

print(reversed_list)

[21, 19, 15, 9, 8, 6, 3, 2]

## #8 Using the list below, turn every item of the list into its square.  
* Input original_list = [1, 2, 3, 4, 5, 6, 7]
* Expected new_list:  [1, 4, 9, 16, 25, 36, 49]

In [22]:
original_list = [1, 2, 3, 4, 5, 6, 7]

# I am assuming we want a new list


new_list = []

for item in original_list:
    
    square = item ** 2
    
    new_list.append(square)
    
    
print(new_list)

# could also use a list comprehension

[1, 4, 9, 16, 25, 36, 49]

## #9  Given  two Python lists. Iterate both lists simultaneously such that list1 should display items in original order and list2 in reverse order.
Given input:
```
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
```

Expected Output:
```
10 400
20 300
30 200
40 100
```

In [23]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

# i guess we would use a loop with i and len -1 - i

# this will only work when the lists are the same size though

# maybe there is a more elegant way


for i in range(len(list1)):
    
    print(list1[i], list2[len(list2) -1 - i])

10 400
20 300
30 200
40 100

## #10 Remove empty strings from the list of strings.
Input:  `list_of_strings = ['I', 'love', '', '', 'data', '', 'science', '!']`

Expected Output:  `['I', 'love', 'data', 'science', '!']`

In [24]:
list_of_strings = ['I', 'love', '', '', 'data', '', 'science', '!']

# easier to do out of place as doing in place leads to iteration problems

new_list_of_strings = []

for item in list_of_strings:
    
    if (item != ""):
        
        new_list_of_strings.append(item)
        
        
print(new_list_of_strings)

['I', 'love', 'data', 'science', '!']

In [25]:
# can use a while loop with an in conditional to do it in place


while ("" in list_of_strings):
    
    list_of_strings.remove("")
    
    
print(list_of_strings)

['I', 'love', 'data', 'science', '!']

##  #11 Check if the value 999 exists in the dicitionary below.  If so, print true, if not print false.

Input: sample_dict = {'a': 100, 'b': 999, 'c': 300}

Expected Output:  True

In [26]:
sample_dict = {'a': 100, 'b': 999, 'c': 300}

# could make a function


if (999 in sample_dict.values()):
    
    print(True)
    
else:
    
    print(False)

True

In [27]:
if (0 in sample_dict.values()):
    
    print(True)
    
else:
    
    print(False)

False

# Extra Credit

## Using pandas, read the csv file in the data folder called `titianic.csv` and store it as a variable named `df`.

In [28]:
import pandas as pd


df = pd.read_csv('data/titanic.csv')

In [29]:
df

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

## I know we didn't cover this, but figure out how to find the mean age of the age column in your dataframe.

In [30]:
df["age"].mean()

29.69911764705882

## What was the oldest and youngest ages on the titanic?

In [31]:
df["age"].max()

80.0

In [32]:
df["age"].min()

0.42

## How many people embarked from station 'S'?

In [33]:
df["embarked"].value_counts()["S"]

644