In [1]:
print("Hello World")

Hello World

# Problem Alphabet Slices
* Store the first ten letters of the alphabet in a list.
* Use a slice to print out the first three letters of the alphabet.
* Use a slice to print out any three letters from the middle of your list.

In [2]:
# Solve Alphabet slices here. 

# First ten letters of the alphabet

alphabet = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]

In [3]:
# first three letters

alphabet[0:3]

['a', 'b', 'c']

In [4]:
# three letters from the middle

alphabet[4:7]

['e', 'f', 'g']

# Problem:  Covert all the rapper names to title case and save them into a new different list. 
example: lil wayne becomes Lil Wayne

In [5]:
# Solve rapper names here
rappers = ['lil wayne', 'nicki minaj', 'drake']

# new list with title case

new_rappers = []


for item in rappers:
    
    new_rappers.append(item.title())


    
for item in new_rappers:
    
    print(item)

Lil Wayne
Nicki Minaj
Drake

# Problem: Write a function thats input is a number and output is:
* Return True if the input number is even.
* Return False if the input number is odd.

In [6]:
# Solve problem here

def is_even(number):
    
    if ((number % 2 ) == 0):
        
        return True
    
    else:
        
        return False
    
    
# could use elif but only one other possibility

In [7]:
is_even(52)

True

In [8]:
is_even(17)

False

# Problem: Find the sum and the average of this list of numbers.

Try doing this using a loop.  Then try doing this without using a loop.

In [9]:
# Solve problem here:

my_list = [1, 5, 10, 55, 88, 44, 42, 50, 20, 38]
list_sum = sum(my_list)
list_avg = sum(my_list)/len(my_list)

# there might be an average or mean function that can be used

# Keep this as your last line in this cell.
print(list_sum, list_avg)

353 35.3

# Problem: Write a function that input is a number and output returns the following
* If the input is divisible by three, return 'fizz'
* If the input is divisible by five, return 'buzz'
* If the input is divisible by three and by five, return 'fizzbuzz'
* If the input is not divisible by three or five, return None.

In [10]:
# Solve Problem fizzbuzz here:

def fizzbuzz(number):
    
    if (((number % 3) == 0) and ((number % 5) == 0) ):
        
        return "fizzbuzz"
    
    elif((number % 3) == 0):
        
        return "fizz"
    
    elif((number % 5) == 0):
        
        return "buzz"
    
    else:
        
        return None

In [11]:
fizzbuzz(6)

'fizz'

In [12]:
fizzbuzz(10)

'buzz'

In [13]:
fizzbuzz(15)

'fizzbuzz'

In [14]:
fizzbuzz(8)

# this does not show the None datatype as the output

# Problem: 
Write a function that takes a list and returns a new list that contains all the elements of the first list minus all the duplicates.

Example input and expected output

input = ["Michele", "Robin", "Sara", "Michele"]

expected output = ['Michele', 'Robin', 'Sara']

In [15]:
# Solve problem here:

names = ["Michele", "Robin", "Sara", "Michele"]


def no_duplicates(given_list):
    
    # convert the list to a set to remove the duplicates
    # then convert that back to a list
    
    temp_set = set(given_list)
    
    new_list = list(temp_set)
    
    # added a sort to make it in the same order
    
    new_list.sort()
    
    return new_list

no_duplicates(names)

# the names are in a different order than the order given so maybe need to use the sort function after
# making it into a list again since sets do not have an order

['Michele', 'Robin', 'Sara']

# Problem: 
Write a function that takes a list of numbers (for example, a = [5, 10, 15, 20, 25]) and returns a new list of only the first and last elements of the given list.

Example input and expected output:

input = [5, 10, 15, 20, 25]

expected output = [5, 25]

In [16]:
# Solve problem here:
input_list = [5, 10, 99, 20, 25]

def first_and_last(given_list):
    
    new_list = [given_list[0], given_list[-1]]
    
    return new_list
    
    # what about when the list has only 1 item in it
    #then the new list will have that single item twice
    
    
first_and_last(input_list)

[5, 25]

In [17]:
first_and_last([1])
# for a list of size one it will retuen the only entry as both
# can do a check for a size of one if this is not the desired functionality

[1, 1]

# Problem:  Implement a function that takes as input three variables, and returns the largest of the three. 
Do this without using the Python max() function! 
_*Note all three input numbers will always be different, no need to account for a tie._

Example input and expected output:

input = your_function(1, 5, 10)

expected output:  10

In [18]:
# Solve Problem here:

def your_function(a, b, c):
    # Fill in your code below and return max value of a, b, c
    
    if( (a > b) and (a > c) ):
        
        return a
    
    elif(  (b > a) and (b > c) ):
        
        return b
    
    else:
        
        return c
    
# could use conditionals for c but since we do not need to worry about ties it is not really needed as there
# is only one possible outcome

In [19]:
# Test to see if your function works properly.
your_function(1, 5, 10)

10

In [20]:
your_function(1, 10, 5)

10

In [21]:
your_function(10, 5, 1)

10